.navlinks a {
  padding: 5px;
}

a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

/*
  Styles for default JSS error components
*/
.sc-jss-editing-error,
.sc-jss-placeholder-error {
  padding: 1em;
  background-color: lightyellow;
}

.logo-text {
  font-size:1.4rem;
  vertical-align: middle;
}
/* Global CSS 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*/
.parent {
  padding: 1rem;
}
.inline-block-child {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

label {
  display: block;
}

.container {
  margin-bottom:3rem;
}

select,
input[type="phone"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="text"],
input[type="password"] {
  display: block;
}